#main { /* Sets the style for the main section */
    background-color: #EEEEEE;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}
body { /* Sets the style for the body */
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}
html {
    font-size: 10px;
}
h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
h2 {
    font-size: 3rem;
}
a {
    color: #477ca7;
}
a:visited {
    color: #74638f;
}
img { /* Sets the style for the Image */
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-div { /* Sets the style for the Image */
    background: white;
    padding: 10px;
    margin: 0;
}
#img-caption { /* Sets the style for the Image */
    margin: 10px 0 5px 0;
}
ul {
    max-width: 600px; /* Sets the style for the Unordered List */
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li {
    margin: 1px 0; /* Sets the style for the Unordered List */
}
blockquote { /* Sets the style for the Block Quote */
    font-style: italic;
    max-width: 600px;
    margin: 0 auto 50px auto;
    text-align: left;
}
  